body {
  --hue: 340;
  --color: hsl(var(--hue) 96% 58%);
  --background-color: hsl(240 33% 1%);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  color: var(--color);
  font: 100 50vh/1 'Spoqa Han Sans Neo', sans-serif;
}

.logo {
  --top: 10dvh;
  --size: 5dvh;

  position: fixed;
  top: var(--top);
  left: 50%;
  translate: -50% 0;

  block-size: var(--size);
  inline-size: var(--size);

  animation: rotate 20s linear infinite;
}

.output {
  user-select: none;
  cursor: inherit;
  
  &.is-animate {
    animation: wiggle 600ms infinite alternate;
  }
}

